<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Step-Up SIP Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="swp-page">
  <!-- INPUT CARD -->
  <div class="swp-layout">
    <div class="card-wrapper">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="header">
            Enter Step-Up SIP Details
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <!-- Monthly SIP -->
          <div class="form-group">
            <ion-label position="floating">Monthly Investment</ion-label>
            <ion-input #lnvestInput type="text" inputmode="numeric" [value]="formattedInvestmentAmount"
              (ionInput)="onInvestmentAmountInput($event)"></ion-input>
            <small class="amount-words" *ngIf="investmentAmountInWords">
              {{ investmentAmountInWords }}
            </small>
          </div>

          <!-- Annual Step-Up -->
          <div class="form-group">
            <ion-label position="floating">Annual Step-Up (%)</ion-label>
            <ion-input type="number" [(ngModel)]="stepUp"></ion-input>
          </div>

          <!-- Expected Return -->
          <div class="form-group">
            <ion-label position="floating">Expected Return Rate (p.a %)</ion-label>
            <ion-input type="number" [(ngModel)]="rate"></ion-input>
          </div>

          <!-- Time Period -->
          <div class="form-group">
            <ion-label position="floating">Time Period (Years)</ion-label>
            <ion-input type="number" [(ngModel)]="time"></ion-input>
          </div>

          <ion-button expand="block" color="secondary" shape="round" (click)="calculateStepUpSIP()">
            CALCULATE
          </ion-button>

        </ion-card-content>
      </ion-card>
    </div>
    <div class="card-wrapper">
      <!-- Results -->
      <ion-card>
        <ion-card-header>
          <ion-card-title class="header">Results</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div class="result-row">
            <span class="label">Invested Amount:</span>
            <span class="value">₹ {{ investedAmount | number:'1.0-0' }}</span>
          </div>

          <div class="result-row">
            <span class="label">Est. Returns</span>
            <span class="value">₹ {{ estReturns | number:'1.0-0' }}</span>
          </div>

          <div class="result-row">
            <span class="label">Total Value</span>
            <span class="value">₹ {{ totalValue | number:'1.0-0' }}</span>
          </div>

          <div class="chart-container">
            <canvas #stepSipChart></canvas>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="card-table-wrapper" *ngIf="monthlyData.length">
      <ion-card>
        <ion-card-header>
          <div class="emi-header">
            <ion-card-title class="header">Month-wise Step-Up SIP Breakdown</ion-card-title>
            <button class="download-btn" (click)="downloadExcel()">
              <ion-icon name="download-outline"></ion-icon>
            </button>
          </div>
        </ion-card-header>

        <ion-card-content class="table-wrapper">
          <table class="sip-table">
            <thead>
              <tr>
                <th>Month</th>
                <th>Invested (₹)</th>
                <th>Interest (₹)</th>
                <th>Total Value (₹)</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let row of monthlyData">
                <td>{{ row.monthYear }}</td>
                <td>{{ row.invested | number:'1.0-0' }}</td>
                <td>{{ row.interest | number:'1.0-0' }}</td>
                <td>{{ row.totalValue | number:'1.0-0' }}</td>
              </tr>
            </tbody>
          </table>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>