<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>EMI Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="swp-page">
  <!-- INPUT CARD -->
  <div class="swp-layout">
    <div class="card-wrapper">
      <!-- Input Card -->
      <ion-card>
        <ion-card-header>
          <ion-card-title class="header">Enter Loan Details</ion-card-title>
        </ion-card-header>

        <ion-card-content class="form-wrapper">
          <div class="form-group">
            <ion-label position="floating">Loan Amount</ion-label>
            <ion-input type="text" inputmode="numeric" [value]="formattedLoanAmount"
              (ionInput)="onLoanAmountInput($event)"></ion-input>
            <small class="amount-words" *ngIf="loanAmountInWords">
              {{ loanAmountInWords }}
            </small>
          </div>

          <div class="form-group">
            <ion-label position="floating">Interest Rate (%)</ion-label>
            <ion-input type="number" [(ngModel)]="interestRate"></ion-input>
          </div>

          <div class="form-group">
            <ion-label position="floating">Loan Tenure (Years)</ion-label>
            <ion-input type="number" [(ngModel)]="years"></ion-input>
          </div>

          <ion-button expand="block" [disabled]="!loanAmount || !interestRate || !years" color="secondary" shape="round"
            (click)="calculateEMI()">
            CALCULATE
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="card-wrapper">
      <!-- Results Card -->
      <ion-card>
        <ion-card-header>
          <ion-card-title class="header">Results</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>Loan EMI:<b> ₹ {{ emi | number:'1.0-0' }}</b></p>
          <p>Total Interest Payable: <b>₹ {{ totalInterest | number:'1.0-0' }}</b></p>
          <p>Total Payment (Principal + Interest): <b>₹ {{ totalPayment | number:'1.0-0' }}</b></p>
          <div class="chart-container">
            <canvas #emiChart></canvas>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="card-table-wrapper" *ngIf="monthlyData.length">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="header">Month-wise EMI Breakdown</ion-card-title>
        </ion-card-header>

        <ion-card-content class="table-wrapper">
          <table class="sip-table">
            <thead>
              <tr>
                <th>Month</th>
                <th>Principal (₹)</th>
                <th>Interest (₹)</th>
                <th>EMI (₹)</th>
                <th>Balance (₹)</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let row of monthlyData">
                <td>{{ row.monthYear }}</td>
                <td>{{ row.principal | number:'1.0-0' }}</td>
                <td>{{ row.interest | number:'1.0-0' }}</td>
                <td>{{ row.emi | number:'1.0-0' }}</td>
                <td>{{ row.balance | number:'1.0-0' }}</td>
              </tr>
            </tbody>
          </table>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>