<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>SWP Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="swp-page">
  <!-- INPUT CARD -->
  <div class="swp-layout">
    <div class="card-wrapper">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="header">Enter SWP Details</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div class="form-group">
            <ion-label position="floating">Initial Investment</ion-label>
            <ion-input #lnvestInput type="text" inputmode="numeric" [value]="formattedInitialInvestmentAmount"
              (ionInput)="onInvestmentAmountInput($event)"></ion-input>
            <small class="amount-words" *ngIf="investmentAmountInWords">
              {{ investmentAmountInWords }}
            </small>
          </div>

          <div class="form-group">
            <ion-label position="floating">Withdrawal Per Month</ion-label>
            <ion-input #withdrawalInput type="text" inputmode="numeric" [value]="formattedMonthlyWithdrawalAmount"
              (ionInput)="onMonthlyWithdrawalAmountInput($event)"></ion-input>
            <small class="amount-words" *ngIf="monthlyWithdrawalAmountInWords">
              {{ monthlyWithdrawalAmountInWords }}
            </small>
          </div>

          <div class="form-group">
            <ion-label position="floating">Expected Return Rate (p.a %)</ion-label>
            <ion-input type="number" [(ngModel)]="annualReturn"></ion-input>
          </div>

          <div class="form-group">
            <ion-label position="floating">Time Period (Years)</ion-label>
            <ion-input type="number" [(ngModel)]="years"></ion-input>
          </div>

          <div class="form-group">
            <ion-label position="floating">Annual Step-Up (%)</ion-label>
            <ion-input type="number" [(ngModel)]="stepUpPercent"></ion-input>
          </div>

          <ion-button expand="block" color="secondary" shape="round" (click)="calculateSWP()">
            CALCULATE
          </ion-button>

        </ion-card-content>
      </ion-card>
    </div>

    <!-- RESULT CARD -->
    <div class="card-wrapper">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="header">Results</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div class="result-row">
            <span class="label">Invested Amount:</span>
            <span class="value">₹ {{ initialInvestment | number:'1.0-0' }}</span>
          </div>

          <div class="result-row">
            <span class="label">Total Withdrawal</span>
            <span class="value">₹ {{ totalWithdrawal | number:'1.0-0' }}</span>
          </div>

          <div class="result-row">
            <span class="label">Final Value</span>
            <span class="value">₹ {{ finalValue | number:'1.0-0' }}</span>
          </div>

          <!-- RIGHT -->
          <div class="chart-container">
            <canvas #swpChart></canvas>
          </div>

        </ion-card-content>
      </ion-card>
    </div>

    <div class="card-table-wrapper" *ngIf="monthlyTable.length">
      <ion-card>
        <ion-card-header>
          <div class="emi-header">
            <ion-card-title class="header">Month-wise SWP Breakdown</ion-card-title>
            <button class="download-btn" (click)="downloadExcel()">
              <ion-icon name="download-outline"></ion-icon>
            </button>
          </div>
        </ion-card-header>
        <div class="table-wrapper">
          <table class="sip-table">
            <thead>
              <tr>
                <th>Month</th>
                <th>Withdrawal (₹)</th>
                <th>Interest (₹)</th>
                <th>Balance (₹)</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let row of monthlyTable">
                <td>{{ row.monthYear }}</td>
                <td>{{ row.withdrawn | number:'1.0-0' }}</td>
                <td>{{ row.interest | number:'1.0-0' }}</td>
                <td>{{ row.balance | number:'1.0-0' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ion-card>
    </div>
  </div>
  <div class="card-table-wrapper" *ngIf="yearlySummary.length">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="header">
          Year-wise Summary
        </ion-card-title>
      </ion-card-header>

      <div class="table-wrapper">
        <table class="sip-table">
          <thead>
            <tr>
              <th>Year</th>
              <th>Total Withdrawal (₹)</th>
              <th>Total Interest (₹)</th>
              <th>Closing Balance (₹)</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let row of yearlySummary">
              <td>{{ row.year }}</td>
              <td>{{ row.totalWithdrawal | number:'1.0-0' }}</td>
              <td>{{ row.totalInterest | number:'1.0-0' }}</td>
              <td>{{ row.closingBalance | number:'1.0-0' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ion-card>
  </div>
</ion-content>