<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Finance Calculators</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Top Illustration -->
  <div class="illustration-container">
    <img src="assets/finance.jpg" alt="Finance Illustration" />
  </div>

  <!-- Option Cards -->
  <div class="options-container">

    <ion-card button (click)="goToCalculator('emi')">
      <ion-card-content>
        EMI Calculator
      </ion-card-content>
    </ion-card>
    <ion-card button (click)="goToCalculator('sip')">
      <ion-card-content>
        SIP Calculator
      </ion-card-content>
    </ion-card>
    <ion-card button (click)="goToCalculator('step')">
      <ion-card-content>
        Step up SIP Calculator
      </ion-card-content>
    </ion-card>
    <ion-card button (click)="goToCalculator('swp')">
      <ion-card-content>
        SWP Calculator
      </ion-card-content>
    </ion-card>
        <ion-card button (click)="goToCalculator('lumpsum')">
      <ion-card-content>
        Lumpsum Investment Calculator
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>