.illustration-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  img {
    width: 450px;
    height: auto;
    border-radius: 15px;
    border: 1px solid;
  }
}

.options-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 1100px;
  margin: 0 auto;
}

.options-container ion-card {
  text-align: center;
  padding: 10px;
  border-radius: 14px;
  font-weight: 600;
}

.options-container ion-card-content {
  font-size: 17px;
}

@media (max-width: 576px) {
  .options-container ion-card {
    grid-template-columns: 1fr;
  }
}